/* .matches-container{ */
.container4 {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: auto;
    width: 100%
    /* padding: 10px; */
}

.match-table{

    flex-wrap: nowrap;
    margin: auto;
    width: 100%;
}

.match-date-header{

}

.match-details-row{
    display: flex;

    flex-flow: row nowrap;
    
}

.match-time{

    width: 20%;
    padding: 10px 0;
}

.match-home-team{

    width: 20%;
    padding: 10px;
    text-align: left;
}

.vs{

    width: 20%;
    padding: 10px;

}

.match-away-team{

    width: 20%;
    padding: 10px;
    text-align: left;
}

.team-logo{

    max-height: 20px;
    padding: 10px;
}